<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Transação - Finanças</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="min-h-screen flex bg-gray-100">

<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- Edit Transaction Content -->
<main class="flex-1 p-8">
    <h2 class="text-2xl font-bold mb-6">Editar Transação</h2>

    <form class="space-y-4 max-w-md" action="/update" method="post">
        <!-- ID -->
        <input type="hidden" name="id" th:value="${transaction.id}" />

        <!-- Name -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Nome</label>
            <input type="text" name="name" th:value="${transaction.name}" class="mt-1 block w-full p-2 border border-gray-300 rounded" />
        </div>

        <!-- Value Field -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Valor</label>
            <input
                    type="text"
                    name="value-formatted"
                    id="value-formatted"
                    required
                    inputmode="decimal"
                    th:value="${transaction.value}"
                    class="mt-1 block w-full p-2 border border-gray-300 rounded"
                    oninput="formatCurrency(this)"
            />
            <input type="hidden" name="value" id="original-value" />
        </div>

        <script>
            function formatCurrency(input) {
                let value = input.value.replace(/\D/g, '');

                if (value === '' || parseInt(value) < 1) {
                    value = '1';
                }

                value = (value / 100).toFixed(2);
                document.getElementById('original-value').value = parseFloat(value.replace(',', '.'));
                value = value
                    .replace('.', ',')
                    .replace(/\B(?=(\d{3})+(?!\d))/g, '.');
                input.value = 'R$ ' + value;
            }

            window.addEventListener('load', function () {
                const input = document.getElementById('value-formatted');
                if (input && input.value) {
                    formatCurrency(input);
                }
            });
        </script>

        <!-- Select Field -->
        <div>
            <ul
                    class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex">
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input id="horizontal-list-radio-entry" type="radio" value="entry" name="operation"
                               required
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="horizontal-list-radio-entry"
                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Entrada</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input id="horizontal-list-radio-expense" type="radio" value="expense" name="operation"
                               required
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="horizontal-list-radio-expense"
                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Saída</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Date -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Data</label>
            <input type="date" name="entry_date" th:value="${#dates.format(transaction.entry_date, 'yyyy-MM-dd')}" class="mt-1 block w-full p-2 border border-gray-300 rounded" />
        </div>

        <!-- Classification -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Classificação</label>
            <select name="type" class="mt-1 block w-full p-2 border border-gray-300 rounded">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}" th:selected="${type == transaction.type}"></option>
            </select>
        </div>

        <!-- Botão de salvar -->
        <button type="submit" class="px-4 py-2 bg-yellow-500 text-white rounded hover:bg-yellow-600">
            Atualizar Transação
        </button>
    </form>

</main>
</body>

</html>
