<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nova Transação - Finanças</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body class="min-h-screen flex bg-gray-100">

<!-- Sidebar -->
<div th:replace="~{fragments/sidebar :: sidebar}"></div>

<!-- New Transaction Content -->
<main class="flex-1 p-8">
    <h2 class="text-2xl font-bold mb-6">Adicionar Nova Transação</h2>

    <form action="/save" method="post" class="space-y-4 max-w-md">

        <!-- Name Field -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Nome</label>
            <input type="text" name="name" required class="mt-1 block w-full p-2 border border-gray-300 rounded" />
        </div>

        <!-- Value Field -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Valor</label>
            <input
                    type="text"
                    id="value-formatted"
                    name="value-formatted"
                    required inputmode="decimal"
                    th:value="${#numbers.formatDecimal(T(java.lang.Math).abs(0),1,2)}"
                    class="mt-1 block w-full p-2 border rounded"
            />
            <input type="hidden" id="original-value" name="value" />
        </div>


        <!-- Select Field -->
        <div>
            <ul
                    class="items-center w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg sm:flex">
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input checked id="horizontal-list-radio-entry" type="radio" value="ENTRADA" name="operation"
                               required
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="horizontal-list-radio-entry"
                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Entrada</label>
                    </div>
                </li>
                <li class="w-full border-b border-gray-200 sm:border-b-0 sm:border-r">
                    <div class="flex items-center ps-3">
                        <input id="horizontal-list-radio-expense" type="radio" value="SAIDA" name="operation"
                               required
                               class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500">
                        <label for="horizontal-list-radio-expense"
                               class="w-full py-3 ms-2 text-sm font-medium text-gray-900">Saída</label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Date Field -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Data</label>
            <input type="date" name="entry_date" required
                   class="mt-1 block w-full p-2 border border-gray-300 rounded" />
        </div>

        <!-- Classification Field -->
        <div>
            <label class="block text-sm font-medium text-gray-700">Classificação</label>
            <select name="type" required class="mt-1 block w-full p-2 border border-gray-300 rounded">
                <option value="" disabled selected>Selecione uma classificação</option>
                <option th:each="type : ${types}" th:value="${type.name()}" th:text="${type.label}"></option>
            </select>
        </div>

        <button type="submit"
                class="px-4 py-2 bg-indigo-600 text-white rounded hover:bg-indigo-700">Salvar</button>

    </form>

    <script src="/transaction-form.js"></script>
</main>
</body>

</html>